      <div class="card">
      <div class="card-header">
      <%= par %>
  </div><!-- head -->
      <div class="card-body">
          name: <%= bod.name %><br>
          pss: <%= bod.pss %><br>
          mail: <%= bod.mail %><br>
          item: <%= bod.item %><br>

<form method="post" action="/pre/in3">
    <input type="hidden" name="bod">
    <button type="submit" class="btn btn-info">submit</button>
</form>

  </div>  <!-- body -->
  </div>  <!-- card -->
