      <div class="card">
      <div class="card-header">
  </div><!-- head -->
      <div class="card-body">
          name: <%= bod.name %><br>
          item: <%= bod.item %><br>
          unit: <%= bod.unit %><br>

<form method="post" action="/pre/in3">
    <input type="hidden" name="name" value="<%= bod.name %>">
    <input type="hidden" name="item" value="<%= bod.item %>">
    <input type="hidden" name="unit" value="<%= bod.unit %>">
    <button type="submit" class="btn btn-info">submit</button>
</form>

  </div>  <!-- body -->
  </div>  <!-- card -->
